.login.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 250px;
    border-radius: 8px;
    background-color: #fff;  
}
.create-account.text{
    color: black;
}
.create-account.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 900px;
    border-radius: 8px;
    background-color: #fff;
}
.create-account.result{
    padding-top: 15px;
    text-align: center;
    font-size: 1.1rem;
}
.create-account.signature{
    padding-top: 5px;
    font-size: 0.7rem;
}