@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
nav{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    min-height: 8vh;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}
.logo{
    color: #1474B3;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.navbar.account{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1474B3;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    cursor: pointer;
}
.navbar.text{
    color: #1474B3;
    padding-right: 10px;
}
.navbar.avatar{
    padding-right: 15px;
}

.nav-link{
    text-decoration: none;
    color: #1474B3;
}